<style>
    input[type=radio], input.radio {
            float: left;
            clear: none;
            margin: 5px 5px 0 5px;
            /* padding-right: 5px; */
        }
        </style>

<!-- 
<div id="loader" style="overflow: hidden;">
        <h1 data-text="Loading..." style="font-size: 25px"></h1>
</div> -->


<h4 style="padding:0px 0 10px 0;text-align: center">Billing Address</h4>
<hr>
<div>
    <h6 style="color:brown">Choose or enter billing details for this order.</h6>
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" ng-model="formData.type2" value="xbox" checked>
                Saved Address</label>
                <br>
                <h5 style="padding:0 20px">
                    61/3 H-colony,Nehrunagar,Ahmedabad,380015 </h5>
        </div><br>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="formData.type2" value="sp">
                    Same as Shipping Address
                </label>
            </div>
            <br>
        <div class="radio">
            <label>
                <input type="radio" ng-model="formData.type2" value="ps">
                Enter New Address
            </label>
        </div>
        <br>
    </div>
</div>
<div ng-if="formData.type2 == 'ps'">
    <div>
        <label for="fname">First Name</label>
        <input type="text" class="form-control" name="fname" ng-model="formData.fname">
    </div>

    <div>
        <label for="lname">Last Name</label>
        <input type="text" class="form-control" name="lname" ng-model="formData.lname">
    </div>
    <div>
        <label for="phone">Phone number</label>
        <input type="text" class="form-control" name="phone" ng-model="formData.phone">
    </div>

    <div>
        <!-- <label for="email">Country</label> -->
        <label for="country">Country</label><br>
        <select name="country" ng-model="formData.country" style="text-align: left;outline: none;border:1px solid gray;font-size: 12px;width:100%;height:30px;max-width:400px;margin:auto;text-align: center">
            <option value="Australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="France">France</option>
            <option value="Italy">Italy</option>
            <option value="Germany">Germany</option>
            <option value="Netherlands">Netherlands</option>
            <option value="Saudi Arabia">Saudi Arabia</option>
            <option value="Singapore">Singapore</option>
            <option value="UAE">UAE</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="United States">United States</option>
        </select>
    </div>
    <div>
        <label for="state">State</label>
        <input type="text" class="form-control" name="state" ng-model="formData.state">
    </div>

    <div>
        <label for="city">City</label>
        <input type="text" class="form-control" name="city" ng-model="formData.city">
    </div>
    <div>
        <label for="pinCode">Pin Code</label>
        <input type="text" class="form-control" name="pinCode" ng-model="formData.pinCode">
    </div>
</div>
<hr>

<button ng-if="formData.type2" style="outline: none" type="button" class="registerbtn" ui-sref="form.payment">Continue</button>



<h4 style="padding:100px 0 10px 0;text-align: center">Order Summery</h4>

<!-- <p>Show items</p> -->

<table style="width: 100%;padding: 10px;font-size: 12px;background-color: #f7f9f9"><!--md-swipe-left="swipeleft()"-->
    <!-- <tr>
        <th colspan="3" style="text-align: center;padding:5%;">YOUR CART</th>

    </tr> -->
    <tr style="text-align:center;border: 1px solid white">
        <!-- <td style="align-self:left;padding: 15px" onclick="">
            <img href="javascript:void(0)" class="backbtn" ng-click="" style="height:10px;width:10px;margin-right:5px" src="../left_arrow.svg" />
            Continue Shopping
            

        </td> -->
        <!-- <td style="align-self:right;padding: 15px;background: #ccc;border:1px black solid" colspan="2">CHECKOUT SECURELY
        </td>
    </tr> -->
    <tr style="font-size:12px">
            <td  style="align-self:left;padding: 15px 0 15px 15px">
                Total :
            </td>
            <td  style="text-align:right;padding:15px 15px 15px 0">
                    Total
                </td>
        </tr>
        <tr>
            <td style="align-self:left;padding: 15px 0 15px 15px">
                     Grand Total (Incl. Tax) :
                </td>
                <td style="text-align:right;padding:15px 15px 15px 0">
                        Grand Total
                   </td>
            </tr>
    <tr class="animate-repeat" ng-repeat="item in cart_data" style="border-bottom:1px solid white;border-top:1px solid white;vertical-align: top">
        <td style="width:50%;padding-top:6px">

                <img id="{{item.p_id}}" style="display:inline-block;outline:none;height:auto;width:40%;align-self: center;padding:10px"
                    ng-click="openproduct(item.p_id)" ng-src="{{imgpath}}/{{item.p_display_photo}}" />
                <!-- <a class="remove-image" href="#" style="display: inline;" ng-click="splice_cart_product($index,item.p_id)">&#215;</a> -->

                <!-- <md-button class="btn-primary" ng-click="addItem(item)" style="display:unset;border:1px solid #ccc;font-size: 8px;">Add
                    to Wishlist</md-button> -->



        </td>
        <td style="padding:5%">
            <table style="font-size: 8px;">
                <tr>
                    <td style="font-size: 14px;text-align: right">
                        {{ item.p_name }}

                    </td>
                </tr>
                <tr>
                    <td style="padding-top:10%;font-size: 10px;text-align: right ">
                        {{item.p_final_price | currency:"&#x20B9;" }}
                    </td>
                </tr>
                


            </table>

        </td>
    </tr>
   
                <tr>
                <!-- <td colspan="2" style="align-self:left;padding: 15px">
                        I want to apply promo code 
                        <input type="checkbox" style="margin-left:10px;vertical-align:middle">
                    </td> -->
                </tr>
       
   

</table>
<h4 style="padding:100px 0 10px 0;text-align: center">Shipping Address</h4>


